html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container-full {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.center-content {
  align-self: center;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none;
}

.margin-top-md {
  margin-top: 1em;
}