@import "variables";

.btn {
  $bottom: $buttonColor;
  $top: $bottom + 20;

  background: linear-gradient(to bottom, $top 50%, $bottom 50%);
  box-shadow: 0 .25em .25em 0 $backgroundDarkBlue;
  margin: 0 .3em;

  &:hover {
    background: linear-gradient(to bottom, $top 50%, ($bottom + 10) 50%);
    margin: .25em .3em -.25em .3em;
    box-shadow: 0 .05em .25em 0 $backgroundDarkBlue;
  }

  &:active {
    background: linear-gradient(to bottom, $top 50%, ($bottom - 10) 50%);
    margin: .25em .3em -.25em .3em;
    box-shadow: 0 .05em .25em 0 $backgroundDarkBlue;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}